*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    box-sizing: border-box;
    background-color: black;
    color: white;
    justify-content: space-around;
    flex-direction:none;
    align-items: center;
}
.list{
    list-style: none;
}
.list li{
    display: inline-block;
    padding: 10px 20px;
}
.banner_card{
    position: relative;
}
.banner_text{
    position: absolute;
    top:15%;
    color: white;
    margin: 0 30px;
}

.banner_text h2{
    font-size: 100px;
    
}

.carousel-item {
    width: 1334px;
    height: 638px;
    border-radius: 10px;
}








#name{
    width: 333px;
height: 51px;
top: 30px;
left: 20px;
border: 1px;

font-family: Ruda;
font-size: 29px;
font-weight: 700;
letter-spacing: 0.06em;
text-align: center;

}

#insta{
    width: 62.33px;
height: 43.12px;
top: 80.1px;
left: 1526.44px;
rotate:180deg;

}
#fb{
    width: 52px;
height: 44px;
top: 37px;
left: 1547.02px;

}
#whats{
    width: 30px;
height: 35px;
top: 33px;
left: 1625.02px;

}

#pizza1{
    width: 100%;
    height: auto;
    top: 100px;
    left: -23px;
}

#top-body-hr {
    background-color: #B62828;
    height: 10px;
    width: 526px;
    margin: 70px 0;
}

.banner_text p {
    width: 599px;
    height: 325px;
    font-family: Ruda;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.09em;
    text-align: left;
}