*{
    
    box-sizing: border-box;
}

.container{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.panel.active{
    flex: 5;

}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.7s ease-in;
    
}




.panel{
   background-size: auto 100%;
   background-position: center;
    height: 80vh;
    width: 70vw;
    color: aliceblue;
    
    margin: 10px;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    flex:0.5;
    transition: flex 0.7s ease-in;
    
}

.panel h3{
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  
}


@media(max-width: 400px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}