
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid black;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#delete{
	background-color:red;
	color:white;
}
/* {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
